.screen {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}


.screen aside {
  height: 100%;
  min-width: 60em;
  border-right: 3px solid rgba(0,0,0,0.5);
  padding: 1em;
}

.screen main {
  padding: 1em;
  height: 100%;
  flex: 1;
}

.image-preview {
  margin-top: 0.5em;
  width: 20em;
  height: auto;
}

.resource-group {
  margin-top: 1em;
  display: flex;
}

.resource-group > *:not(:last-child) {
  margin-right: 2em;
}

.resource-group:not(:last-of-type) {
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}