.corp-card {
  border: 20px solid;
  border-radius: 5em;
  height: 40em;
  width: 80em;
  margin: 0;
  position: relative;
  padding: 0.5em;
  display: flex;
  color: black;
  border-color: white;
  background: linear-gradient(to right, #5a5a5a, #9e9e9e, #9e9e9e, #5a5a5a);
}

.corp-badge {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  color: #020202;
  width: 115px;
  height: 14px;
  line-height: 15px;
  text-align: center;
  font-size: 13px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 60%), 0 0 0 2px rgb(0 0 0 / 30%);
  background: #cccccc;
  background-color: #ffcc64;
  background: linear-gradient(to right, #e28c22, #ffcc64, #ffcc64, #e28c22);
  border-radius: 2px 2px 7px 7px;
  text-transform: uppercase;
}

.corp-card .inner {
  flex: 1;
  margin: 0; 
  padding: 2em;
  background-color: white;
  border-radius: 3em;
}

.corp-card .upper {
  display: flex;
  justify-content: space-between;  
}

.corp-name {
  flex: 1;
  font-size: 4em;
  font-weight: 500;
}

.corp-card .tags {
  position: absolute;
  right: 0em;
  top: 1em;
  background-color: transparent;
  display: flex;
}

.tag-icon {
  height: 5em;
  width: 5em;
  margin-right: 1em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border-radius: 50%;
}

.tag--earth {
  background-image: url('../assets/tags/earth.png')
}